.SlectBox, .SlectBoxa {
  width: 200px;
  padding: 5px; }

/*this is applied on that hidden select. DO NOT USE display:none; or visiblity:hidden; and Do not override any of these properties. */
.SelectClass {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  border: none;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

.SumoSelect {

  display: inline-block;
  position: relative;

  > .optWrapper {

    top: 30px;
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
    -webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
    -moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
    -ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
    -o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: -100;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.11);
    border-radius: 3px;

    > .options {
      list-style: none;
      display: block;
      padding: 0px;
      margin: 0px;
      overflow: auto;
      border-radius: 3px;
      max-height: 250px;

      > li {
        -moz-transition: 200ms ease;
        -webkit-transition: 200ms ease;
        transition: 200ms ease;

        padding: 4px 6px;
        border-bottom: 1px solid #F3F3F3;
        position: relative;

        &:first-child {
          border-radius: 3px 3px 0px 0px;
        }

        &:last-child {
          border-bottom: none;
          border-radius: 0px 0px 3px 3px;
        }

        &:hover {
          background-color: #CBD0FF;
        }

        &.disabled {
          background-color: inherit;

          * {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
            /* IE 5-7 */
            filter: alpha(opacity=50);
            /* Netscape */
            -moz-opacity: 0.5;
            /* Safari 1.x */
            -khtml-opacity: 0.5;
            /* Good browsers */
            opacity: 0.5;
          }
        }

        label {
          user-select: none;
          -o-user-select: none;
          -moz-user-select: none;
          -khtml-user-select: none;
          -webkit-user-select: none;

          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          display: block;
        }

        span {
          display: none;
        }
      }
    }

    > .MultiControls {
      display: none;
      border-top: 1px solid #ddd;
      background-color: #fff;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.13);
      border-radius: 0px 0px 3px 3px;
    }

    &.open {
      top: 40px;
      visibility: visible;
      opacity: 1;
      z-index: 1000;
    }

    &.isFloating {

      position: fixed;
      top: 0px;
      left: 0px;
      right: 0px;
      width: 90%;
      bottom: 0px;
      margin: auto;
      max-height: 90%;

      > .options {
        max-height: 100%;

        > li {
          padding: 12px 6px;
        }
      }
    }

    &.multiple {
      > .options {
        > li {
          padding-left: 35px;

          span {
            position: absolute;
            display: block;
            width: 30px;
            top: 0px;
            left: 0px;
            bottom: 0px;

            i {
              background-image: url("http://graphics8.nytimes.com/packages/flash/business/20100325-FinancialTuneUp/gfx/checkbox.png");
              position: absolute;
              margin: auto;
              left: 0px;
              right: 0px;
              top: 0px;
              bottom: 0px;
              background-repeat: no-repeat;
              background-position: center center;
              width: 16px;
              height: 16px;
            }
          }

          &.selected {
            span {
              i {
                background-image: url("https://cdn1.iconfinder.com/data/icons/Keyamoon-IcoMoon--limited/16/checkbox-checked.png");
              }
            }
          }
        }
      }

      > .MultiControls {
        > p {
          display: inline-block;
          cursor: pointer;
          padding: 12px;
          width: 50%;
          box-sizing: border-box;
          text-align: center;

          &.btnOk {
            border-right: 1px solid #DBDBDB;
            border-radius: 0px 0px 0px 3px;
          }

          &.btnCancel {
            border-radius: 0px 0px 3px 0px;
          }

          &:hover {
            background-color: #f1f1f1;
          }
        }

        > .newItem {

          display: block;

          input[type=text] {
            box-sizing: border-box;
            width: 100%;
            padding: 5px;
          }
        }
      }

      &.isFloating {

        padding-bottom: 43px;

        > .options {
          > li {
            padding-left: 35px;
          }
        }

        > .MultiControls {
          display: block;
          margin-top: 5px;
          position: absolute;
          bottom: 0px;
          width: 100%;
        }
      }

      &.okCancelInMulti {
        > .MultiControls {
          display: block;

          > p {
            padding: 6px;
          }
        }
      }
    }
  }

  > .CaptionCont {
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    position: relative;
    border: 1px solid #ccc;
    min-height: 20px;
    background-color: #fff;

    > span {
      display: block;
      padding-right: 30px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      &.placeholder {
        color: #ccc;
        font-style: italic;
      }
    }

    > label {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      width: 30px;
      background-color: #E0D8D8;

      > i {
        background-image: url("https://cdn2.iconfinder.com/data/icons/picol-vector/32/arrow_sans_down-16.png");
        background-position: center center;
        width: 16px;
        height: 16px;
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        margin: auto;
      }
    }
  }

  &.disabled {
    opacity: 0.7;

    > .CaptionCont {
      > label {
        background-color: #F1F1F1;
      }
    }
  }

  &:hover {
    > .CaptionCont {
      > label {
        background-color: #F1F1F1;
      }
    }
  }
}


/*Background overlay*/
body > .BackdropSelect {
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 100;
}
